
body {
  padding-top: 65px; 

}
/* ✅ Hide scrollbar for WebKit (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-toast{
  font-size: 20px;
  width: 500px;
  column-gap: 5px;
}




