
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Moon+Dance&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F7641E;
 
  --font-italian: "Moon Dance", cursive;
 }

 @layer components {
  .button-styles{
    @apply bg-primary text-white text-lg px-18 py-3 rounded-4xl font-bold
     hover:bg-amber-500  cursor-pointer mx-auto block mt-auto hover:transform hover:duration-300 hover:scale-110 hover:ease-in-out
  }
  .label-styles{
    @apply  block text-lg font-medium text-gray-900
  }
  .dropdown-styles{
    @apply w-full appearance-none rounded-lg bg-white py-2 pr-8 pl-3 text-base text-gray-900 border border-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500 relative z-50
  }
  .textbox-styles{
    @apply block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-200 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-500 sm:text-sm/6
  }
  .transition-effects {
    @apply transition  duration-300 ease-in-out transform hover:scale-110 cursor-pointer;
  }
  
  .background-color{
    @apply bg-gradient-to-br from-[#E0BBE4] via-[#957DAD] to-[#D291BC]
  }
}


@layer utilities {
  .padding-lr {
    @apply px-10 md:px-14  lg:px-34  ;
  }
  .padding-tb {
    @apply py-14 ;
  }
}


@keyframes fade-in {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

